<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="-m gunicorn --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:%HTTP_PLATFORM_PORT% --timeout 600 --access-logfile '-' --error-logfile '-' main:app"
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\python.log" 
                  startupTimeLimit="120" 
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="." />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 